/*----------
# SECTION : imports 
    - Initialisation des variables de couleur
    - Importation des typographies 
----------*/
:root {
    /*Couleurs principales : */
    --main-color: #92A661;
    --main-color-shadows: #3E6329;
    --main-color-shadows-deep: #2d421f;
    --main-color-accents: #AF7B2F;
    --main-color-highlights: #EAE1CE;
}

* {
    /*Typos : */
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background: var(--main-color-highlights);
}

/*----------
# SECTION : Styles generaux
    - Tout ce qui touche à toutes les pages
        - Liens
        - Boutons
        - Logo
----------*/
/*Logo : size cap*/
.logo {
    max-width: 50px;
}

/*Liens personalisés : aligne le bouton à l'intérieur du lien*/
a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

/*span utilisé pour le titre dans le header; Centre avec le logo*/
span {
    transform: translateY(-2px);
}

/*Bouton stylisé avec animation :
    - Fond vert (main color)
    - Ombre décalée
    - Animation du mouvement d'ombre
*/
button {
    width: 45px;
    height: 45px;
    box-sizing: border-box;

    margin: 0 5px;

    background-color: var(--main-color);

    align-items: center;

    border: 0;
    border-radius: 10px;

    font-size: 16px;
    text-align: center;
    text-decoration: none;

    position: relative;
    transition: .2s ease-out;

    display: flex;
    align-items: center;
    justify-content: center;
}
/*Ombre du bouton créé avec ::after*/
button::after {
    content: "";

    width: 45px;
    height: 45px;

    background-color: var(--main-color-shadows-deep);

    border-radius: 10px;

    display: block;

    position: absolute;
    top: -2px;
    left: 0;

    transform: translateX(8px) translateY(8px);
    transition: transform .2s ease-out;

    z-index: -1;
}
/*Change de curseur*/
button:hover {
    cursor: pointer;
    background: var(--main-color-highlights);
}
/*Animation*/
button:hover::after {
    transform: translateX(0) translateY(2px);
}
/*L'images placée dans le bouton prendra 100% de l'espace.*/
button img {
    width: 100%;
}

.left-container {
    display: flex;
    align-items: center;
}

/*Centre les éléments mentionnés*/
#section-recherche-profil,
#section-burger-menu,
#boutons-reseaux-sociaux {
    transform: translateX(-15px);
}

/*#region HEADER*/
/*----------
    - Différents containers :
        - Boutons
        - Barre de recherche
----------*/
header {
    width: 100%;
    height: 2.5em;

    background-color: var(--main-color-shadows);

    border-radius: 10px;

    color: white;
    font-size: 32px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 1;
}
/**/
#section-boutons {
    width: 200px;

    margin: 0 30px;
    
    display: flex;
    justify-content: space-around;

    transform: translateY(-5px);
}

/*Resize l'image du bouton profil avec une plus petite taille*/
#profil-button img {
    width: 90%;
}

#section-recherche-profil {
    display: flex;
    align-items: center;
}
#section-recherche-profil a {
    transform: translateY(-5px);
}

#barre-recherche {
    width: 20rem;
    height: 2.7rem;

    background: var(--main-color-highlights);
    border-radius: 10px;

    position: relative;
    transform: translateY(-5px);
}

#recherche-input {
    
}

#recherche-submit {

}



#loupe {
    max-width: 4vh;
}
/*#endregion*/

/*----------
# SECTION : Main
    -
----------*/





/*----------
# SECTION : Footer
    -
----------*/
footer {
    width: 100%;
    height: 8%;
    background-color: var(--main-color-shadows);
    border-radius: 10px;
    padding-top: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#signature {
    color: white;
}

#boutons-reseaux-sociaux {
    display: flex;
}

/*----------
#SECTION : MEDIAS
    -
----------*/

/*Mobile*/
@media screen and (max-width: 600px) {
    .desktop {
        display: none !important;
    }
}

/*Desktop*/
@media screen and (min-width: 600px) {
    .mobile {
        display: none !important;
    }
}
